MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/TravelReview?retryWrites=true&w=majority
GOOGLE_API_KEY=your_google_api_key
GOOGLE_EMBED_KEY=your_google_embed_key
GCS_KEY_FILE=./config/your-service-account-key.json
GCS_PROJECT_ID=your_gcp_project_id
GCS_BUCKET_NAME=your_bucket_name
