.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-from {
    border: 1px solid #ffc008;
    margin-bottom: 20px;
}
.login-title {
    background-color: #ffc008;
    font-weight: 800;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.submit-btn {
    width: 300px;
    padding: 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #ffc008;
}
.register-btn {
    text-decoration: underline;
}
.login-footer{
    background-color: #ffc008;
    font-weight: 800;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
